@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik";
}

.cards {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 15px 0 10px 0;
}
.card > img {
    width: 25%;
    margin-bottom: 1rem;
}
.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}
.card_content > h3 {
    line-height: 2;
    font-size: 1.25rem;
}
.card_content > p {
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card_content > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}